$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #040809;
$primary-accent-color: #47a9c1;
$primary-background-color: #f2f8f9;
$primary-background-input-color: #f2f8f9;

$secondary-color: #040809;
$secondary-background-color: #96a7d1;

$border-color: #b7cec9;

$margin-tablet: 1.5rem;
$margin-mobile: 1rem;

$min-padding: 0.5rem;

$loader-width: 12.5rem;
