@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.game-card {
  position: relative;
  background-color: $secondary-background-color;
  border: 1px solid $primary-accent-color;
  border-radius: 8px;
  margin: 1rem 0;
  overflow: hidden;

  @include tablet {
    border-radius: 12px;
    margin: 0rem 0;
  }

  &__top {
    position: relative;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__rating svg * {
    fill: goldenrod;
  }

  &__name {
    right: 0;
    bottom: 0;
    position: absolute;

    padding: $min-padding;
    background-color: $secondary-background-color;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom: 1px solid $primary-accent-color;

    @include tablet {
      padding: calc($min-padding + $min-padding/2);
    }

    @include desktop {
    }
  }
  &__row {
    padding: $min-padding;
    @include flex(start);
    gap: $min-padding;

    @include tablet {
      padding: calc($min-padding * 2);
    }

    @include desktop {
    }

    &--bottom {
      @include flex(space-between);
      flex-wrap: wrap;
    }
  }

  &__photographer {
    order: 3;

    @include tablet {
      order: 0;
    }
  }

  &__likes {
    position: absolute;
    display: block;
    padding: $min-padding;
    z-index: 1;
    & svg {
      width: 30px;
      height: 30px;
      & * {
        fill: red;
      }
    }
  }
}
